<a class="fancybox" rel="gallery1" href="<%=model.imageUrl('b')%>" title="<%=model.get('title')%>">
  <img class="thumb-medium" src="<%=model.imageUrl('z')%>" alt="" />
</a>
<p>
  <strong>
    <%=model.get('title')%><br>
  </strong>

  <%=model.get('description')['_content']%>
</p>
